
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* html에는 100% */
  }
  
  
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, white 0%, black 100%);
    background-attachment: fixed; 
  }

/* 스크롤바 */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
}


/* rest column */
  .two-column-bg {
    position: fixed;  
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    gap: 8px; 
    z-index: -1; 
  }
  
  .column {
    flex: 1;
    background-color: #dddddd;
    height: 100%;
    border-radius: 0px;
  }
  
  .column.left {
    background: conic-gradient(
        #cccccc 0%,
        #ffffff 25%,
        #cccccc 50%,
        #ffffff 75%,
        #cccccc 60%,
        #ffffff 100%
    );

  }
  
  .column.right {
    background-image: conic-gradient(
      #cccccc 0%,
      #ffffff 25%,
      #cccccc 50%,
      #ffffff 75%,
      #cccccc 60%,
      #ffffff 100%
    );
    transform: scaleX(-1);
  }
  
  
  /* ◼️ 왼쪽 위 정사각형 */
  .top-square {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 2px;
    z-index: 9999;
  }
  
  /* 모바일용 (414px 이하) */
@media (max-width: 414px) {
  .top-square {
    width: 10px;
    height: 10px;
  }
}

  .top-square.left {
    position: fixed;
    left: 0;
    margin-left: 15px; 
  }
  
  .top-square.right {
    position: fixed;
    right: 0;
    margin-right: 15px;
  }
  
  /* ◼️ 좌우 검정 선 추가 */
  .side-line {
    position: fixed;
    height: 100%;
    width: 5px;
    background-color: black;
    z-index: 1; 
  }

  .side-line.bottom-line {
    top: 40vh; 
    width: 12px; 
  }
  
  .left-line {
    left: 0;
  }
  
  .right-line {
    right: 0;
  }

  .scale-wrapper {
    aspect-ratio: 9 / 16;
    height: 100vh; /* 뷰포트 높이로 고정 */
    max-width: 100vw;
    width: auto;
    transform-origin: top center;
    margin: 0 auto;
    display: block;
  }
  



  
  :root {
    /* Color */
    --color-black: #000;
    --color-white: #fff;
  
    /* Padding */
    --padding-20: 20px;
    --padding-5: 5px;
  
    /* BorderRadius */
    --br-100: 10px;
  
    /* Font */
    --font-gap-sans: "GapSans";
    --font-gap-sansBold: "GapSansBold";
    --font-gap-sansBlack: "GapSansBlack";

    --font-ashley-text: 'Ashley-Text';
    --font-ashley-score: 'Ashley-Score';

    --font-anton-Regular: 'Anton-Regular'; 

    --font-bickham-Script-Regular: 'BickhamScript';
    
    --font-NewsGothic-Regular: 'NewsGothic';
    --font-NewsGothic-Oblique: 'NewsGothic-Oblique';


    --font-arual: 'Arual';

    --font-Hedvig-Regular: 'Hedvig-Regular', serif;

    /* FontSize */
    --font-size-6: 6px;
    --font-size-8: 8px;
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-30: 30px;
    --font-size-36: 36px;
  }
  


/* Gap Sans */
@font-face {
  font-family: 'GapSans';
  src: url('../fonts/GapSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GapSansBold';
  src: url('../fonts/GapSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GapSansBlack';
  src: url('../fonts/GapSansBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Ashley */
@font-face {
  font-family: 'Ashley-Text';
  src: url('../fonts/Ashley-Text.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ashley-Score';
  src: url('../fonts/Ashley-Score.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Arual */
@font-face {
  font-family: 'Arual';
  src: url('../fonts/Arual.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Anton-Regular'; 
  src: url('../fonts/Anton-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Bickham Script */
@font-face {
  font-family: 'BickhamScript';
  src: url('../fonts/BickhamScriptPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* NewsGothic */
@font-face {
  font-family: 'NewsGothic';
  src: url('../fonts/NewsGothicStd.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NewsGothic-Oblique';
  src: url('../fonts/NewsGothicStd-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}


@font-face {
  font-family: 'Hedvig-Regular'; 
  src: url('./fonts/Hedvig-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}